.blockInfo {
    background-color: rgb(242, 239, 239);
    color: black;
   display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
  font-size: 18px;
  align-items: center;
  margin-bottom: 60px;
 
}