.registrationBlock {
    width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
      
  }
  .authBlockText {
      text-align: center;
      padding: 20px;
      width: 450px;
      height: 400px;
      background-color:  rgb(242, 239, 239);
      margin-left: 450px;
      color: rgb(11, 11, 11);
      
      
  }
  .inputBlock {
      text-align:start;
      font-size: medium;
      padding: 12px;
  }
  .textPage {
      margin: 20px;
  }
  .nextPage {
      background-color: rgb(15, 15, 15);
      font-size: 15px;
      width: 100%;
      height: 50px;
      color: white;
      margin: 0 auto;
  }
  
  .serviceLogin {
      font-size: 17px;
  
  }

  .iconLink {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
  
  }
  .serviceLogin:hover {
     
      text-shadow: 3px 5px 6px rgb(192, 196, 194);
  }
  .registration {
      color: black;
      font-size: 15px;
    
  }
  .registration:hover {
      text-decoration:underline;
  }
