.regAccauntBlock {
    width: 100%;
    margin-left: 370px;
    margin-top: 100px;
}

.regAccauntBlockText {
    width: 450px;
      height: 400px;
      background-color:  rgb(242, 239, 239);
      text-align: center;
      padding-top: 5px;
}

.registrationLink {
    display: flex;
   justify-content: center;
}

.addRegistration {
        background-color: rgb(15, 15, 15);
        font-size: 15px;
        width: 356px;
        height: 50px;
        color: white;
        margin: 0 auto;
      
}
