.navbar {
    height: 50px;
    background: rgb(242, 239, 239);
    display: flex;
    align-items: center;
    padding-left: 55px;
    padding-right: 55px;
   
}
.navbar a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 16px;
    line-height: 17px;
    cursor: pointer;
}
.navbar a:hover {
    opacity: .5;
    transition: transform .5s;

}
.navbarLink {
width: 45%;
display: flex;
justify-content: space-between;

}