.seeMore {
    color: #141414;
    cursor: pointer;
    font-size: 16px;
  
   
}

.blockMore {
    margin-bottom: 30px;
    margin-top: 20px;
}

.seeMore:hover {

text-shadow: 3px 5px 6px rgb(192, 196, 194);

}
.infoDetails {
    width: 100%;
}